In [120]:
import nltk

In [55]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

In [94]:
# Assuming you have a dataset with 'query' and 'domain' columns
import pandas as pd
import numpy as np

train = pd.read_csv(r"C:\Users\hp\Downloads\train_3.csv")
test = pd.read_csv(r"C:\Users\hp\Downloads\test_ZUT1mqB.csv")

In [95]:
train.shape

(3845, 3)

In [96]:
test.shape

(1649, 2)

In [97]:
train.isnull().sum()

ID         0
Title     11
Domain     0
dtype: int64

In [109]:
train.tail()

        ID                                              Title      Domain
3840  3841  Where to find practice problems for linear reg...   Resources
3841  3842          Running Java code on the GPU with Aparapi       Tools
3842  3843  R/Python Script needed to assign Cluster ID to...       Tools
3843  3844                  Separate a column into two column  Techniques
3844  3845                        Clustering and Segmentation  Techniques

In [110]:
test.head()

     ID                                              Title
0  3846                                   Spark Cheatsheet
1  3847             Review of Random forest code in Python
2  3848                  Chi-Sq Test for Numeric variables
3  3849  Prediction from loaded pickled file for single...
4  3850  Even after installing Anaconda on my PC, I am ...

In [98]:
train.dropna(inplace=True)

In [99]:
train.Domain.value_counts()

Techniques    1852
Tools          917
Career         437
Hackathons     262
Resources      170
Other          122
Misc            74
Name: Domain, dtype: int64

In [121]:
# Tokenization and removing stop words
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Error loading punkt: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>
[nltk_data] Error loading stopwords: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

False

In [122]:
stemmer = nltk.SnowballStemmer("english")
stopword=set(stopwords.words('english'))

In [140]:
df=pd.concat([train,test],ignore_index=True)

In [141]:
df.shape

(5483, 3)

In [142]:
df.head()

   ID                                              Title      Domain
0   1  What is good in a decision tree, a large or a ...  Techniques
1   2  Training data only contains single positive label  Techniques
2   3  Calculating percentage contribution of a negat...  Techniques
3   4                   Unable to open solution checker!  Hackathons
4   5                                   User Name Change        Misc

In [143]:
def preprocess_text(text):
    text = str(text).lower()
    # Remove stopwords and apply stemming
    tokens = word_tokenize(text)
    tokens = [stemmer.stem(word) for word in tokens if word not in stop_words]
    # Join the tokens back into a single string
    cleaned_text = " ".join(tokens)
    return cleaned_text

In [144]:
df["processed_title"] = df["Title"].apply(preprocess_text)

In [145]:
df.head()

,ID,Title,Domain,processed_title
0,1,"What is good in a decision tree, a large or a ...",Techniques,"good decis tree , larg small leaf size ?"
1,2,Training data only contains single positive label,Techniques,train data contain singl posit label
2,3,Calculating percentage contribution of a negat...,Techniques,calcul percentag contribut negat compon
3,4,Unable to open solution checker!,Hackathons,unabl open solut checker !
4,5,User Name Change,Misc,user name chang

In [249]:
df["Domain"].isnull().sum()

1649

In [190]:
x = np.array(df["processed_title"])
y = np.array(df["Domain"])

In [235]:
# Convert text data to numerical vectors using TF-IDF
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(x)

In [257]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3006,shuffle=False)

X_train = pd.DataFrame(X).iloc[:3834]
y_train = y.iloc[:3834]
X_test = pd.DataFrame(X).iloc[3834:]
y_test = y.iloc[3834:]

In [258]:
y_test.shape

(1649,)

In [259]:
X_train.shape

(3834, 3573)

In [260]:
y_train.shape

(3834,)

In [261]:
X_test.shape

(1649, 3573)

In [262]:
from sklearn.linear_model import SGDClassifier

In [263]:
sgdmodel = SGDClassifier()
sgdmodel.fit(X_train,y_train)

SGDClassifier()

In [264]:
type(X_train)

scipy.sparse.csr.csr_matrix

In [282]:
# Train a Naive Bayes classifier
classifier = MultinomialNB()
classifier.fit(X_train,y_train)

MultinomialNB()

In [289]:
# Make predictions on the test set
y_pred = classifier.predict(X_test)
y_pred=pd.Series(y_pred)

In [290]:
query1=pd.DataFrame({'ID':test['ID'],'Domain':y_pred.values})
query1=query1.reset_index(drop=True)
query1.to_csv("query1.csv",index=False)

In [291]:
y_pred2 = sgdmodel.predict(X_test)
y_pred2=pd.Series(y_pred2)

In [292]:
query2=pd.DataFrame({'ID':test['ID'],'Domain':y_pred.values})
query2=query2.reset_index(drop=True)
query2.to_csv("query2.csv",index=False)

In [293]:
query2

        ID      Domain
0     3846  Techniques
1     3847  Techniques
2     3848  Techniques
3     3849  Techniques
4     3850       Tools
...    ...         ...
1644  5490  Techniques
1645  5491  Techniques
1646  5492  Techniques
1647  5493  Techniques
1648  5494       Tools

[1649 rows x 2 columns]